.nav-box {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #0b090e;
    overflow: auto;
}

.nav-tag-box {
    width: calc(100% - 40px);
    margin: 10px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.content-box {
    position: relative;
    z-index: 2;
}

.nav-tag-item {
    border-radius: 4px;
    border: 2px solid #4e8796;
    margin: 0px 20px 10px 0px;
    color: #56dcd8;
    cursor: pointer;
    font-size: 12px;
    position: relative;
}

.nav-tag-item>div {
    padding: 4px 10px;
}

.nav-tag-item>div:hover {
    box-shadow: inset 0px 0px 10px 1px #56dcd8;
}

.nav-tag-item-delete-btn {
    position: absolute;
    top: -2px;
    right: -34px;
    width: 10px;
    border: 2px solid #4e8796;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-local-box {
    width: 40px;
    height: 30px;
    line-height: 30px;
    background-color: #242429;
    position: absolute;
    left: -40px;
    top: 30px;
    z-index: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: right;
    box-sizing: border-box;
    padding: 5px 10px 5px 15px;
    box-shadow: inset 3px 0px 3px 0.2px aqua;
    cursor: pointer;
}

.nav-local-box svg {
    height: 20px;
    width: 20px;
}

.add-local-btn {
    width: 30px;
    height: 32px;
    line-height: 28px;
    border-radius: 5px;
    border: 2px solid aqua;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    color: aqua;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0px 0px 20px;
}


.add-local-dialog {
    width: 30rem;
    max-width: 500px;
    height: 260px;
    background-color: rgb(94, 92, 92);
    border-radius: 1rem;
    position: fixed;
    top: 15rem;
    left: calc(50% - 15rem);
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid orange;
    box-shadow: 2px 2px 10px 4px black;
}

.add-local-dialog>header {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #56dcd8;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
}

.add-local-dialog>header>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.add-local-dialog-input {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.8rem;
}

.add-local-dialog-input>div {
    width: 100%;
}

.add-local-dialog-btn {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.add-local-dialog-btn>button {
    width: 9rem !important;
    max-width: 160px;
}