header {
    height: 48px;
    box-sizing: border-box;
    background-color: #242429;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
    color: #cccac9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 36px;
    height: 36px;
    margin-left: 20px;
}


.hc_menu_three_box {
    width: auto;
    display: inline-block;
    box-sizing: border-box;
    height: 48px;
    font-size: 14px;
    border-radius: 6px;
}

.hc_three_menu_item {
    min-width: 100px;
    height: 100%;
    text-align: center;
    line-height: 48px;
    box-sizing: border-box;
    /* 设置3d效果 */
    transform-style: preserve-3d;
    float: left;
    perspective-origin: center center;
    transform-origin: center 48px;
    transition: all 0.3s;
    position: relative;
}

.hc_three_menu_item:hover {
    transform: rotateX(90deg) translateZ(50px);
}

.hc_three_menu_rotate {
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.8);
    /* 固定3d的位置 */
    transform-style: preserve-3d;
    transform-origin: center 0;
    transform: rotateX(-90deg);
    box-shadow: inset 0px 2px 10px 1px rgb(77, 178, 245);
    cursor: pointer;
}

.hc_three_menu_text {
    margin: 0 10px;
}