.welcome-font-box {
    width: 40rem;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
}

.welcome-font-item {
    width: 6rem;
    height: 6rem;
}


.bottom-arrow {
    width: 0px;
    height: 0;
    border-top: 14px solid #1b9d9d;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: fixed;
    bottom: 0px;
    left: calc(50% - 30px);
    cursor: pointer;
}

svg path {
    margin: 0 auto;
}