.welcome-font-box {
    width: 40rem;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    z-index: 999;
}

.welcome-font-item {
    width: 6rem;
    height: 6rem;
}


.bottom-arrow {
    width: 0px;
    height: 0;
    border-top: 14px solid #1b9d9d;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: fixed;
    bottom: 0px;
    left: calc(50% - 30px);
    cursor: pointer;
}

svg path {
    margin: 0 auto;
}


.ainme-star-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    perspective: 800px;
    perspective-origin: center center;
}

.ainme-star-box>div {
    width: 10%;
    height: 10%;
    z-index: 66;
    opacity: 0;
}

.starIcon {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    fill: rgb(244, 179, 38);
    z-index: 99;
    transform: translateZ(0px);
}