.nav-box {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #0b090e;
    overflow: auto;
}

.content-box {
    position: relative;
    z-index: 2;
    padding: 10px 20px 0px 20px;
    width: 50rem;
    border-radius: 4px;
    background-color: #242429;
    min-height: calc(100% - 8px);
    margin-left: calc(50% - 33rem);
    box-sizing: border-box;
    margin-top: 8px;
    color: #D3D3D3;
}

.right-nav-box {
    width: 15rem;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    overflow: hidden;
    padding-bottom: 10px;
}
