.user-box {
    width: 100%;
    background-color: #2e2e32;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 10px;
}

.header-img-box {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem auto;
    background-image: url(./header.jpg);
    background-size: cover;
    overflow: hidden;
    border: 3px solid #56d6b1;
    box-shadow: inset 2px 2px 2px 0.5px aqua,
        2px 2px 4px 0.5px rgba(0, 0, 0, 0.6);
}

.user-details-list {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.user-details-list-item {
    flex: 1;
    width: 33.3%;
    cursor: pointer;

}

.user-details-list-item-name {
    text-align: center;
    font-size: 13px;
    color: #ecb153;
}

.user-details-list-item-val {
    text-align: center;
    font-size: 13px;
}

.my-info-box {
    width: 160px;
    height: 40px;
    margin: 20px auto;
    padding: 10px;
    background-color: #212121;
    box-shadow: inset 0px 0px 8px 0.5px aqua;
    border-radius: 5px;
}

.my-info-box>div {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
}

.user-name-box {
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
}

.user-name-box>div:first-of-type {
    font-size: 16px;
    margin-bottom: 20px;
}

.user-name-box>div:last-of-type {
    font-size: 13px;
}